@charset "utf-8";
/* CSS Document */

/*       __                           
        / /___ ___ __________________/
   __  / / __ `__ \ ___Jennifer_____/
  / /_/ / / / / / /____Morehead____/
  \____/_/ /_/ /_/________________/ 
*/

@import url("https://fonts.googleapis.com/css?family=Lato:400,600,700|Work+Sans:400,700,800");

@import url('https://fonts.googleapis.com/css?family=Open+Sans:700&display=swap');


/*///GENERAL///*/

html {
  overflow-x: hidden;
}

body {
  font-family: "Lora", serif;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.166667px;
  line-height: 1.7em;
  color:  #353839;
  background-color: #f5eee3;
}

p, ul{
  color: #818385;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: "Lora", serif;
  color: #353839;
  font-weight: 700;
}

/*///COLORS///*/

.lightblue {
  background-color: lightblue;
}

.green {
  background-color: green;
}

.pink {
  background-color: pink;
}

.black {
    color: black;
}

.black-bkg {
    background-color: black;
}

.gray {
    color: #818385;
}

.coral {
    color: #f16a5f;
}

.coral-bkg {
    background-color: #f16a5f;
}

.italic {
  font-style: italic;
}


/*////HOME//////////////*/

.wrapper {
  min-height: 100vh;
}

.home-bkgd {
  background-image: url("../images/jm-web_bkgd.png");
  background-repeat: no-repeat;
  background-size: 70vw;
  background-position: 30vw 00vw;
}

.jm-logo {
  width: 75%;
}

.slogan {
  display: inline-block;
  padding-right: 25px;
  font-family: 'Open Sans', sans-serif;
  font-size: 35px;
  font-weight: bold;
  color: #f16a5f;
}

@media (min-width: 480px) {
  .slogan {
  display: inline-block;
  padding-right: 25px;
  font-family: 'Open Sans', sans-serif;
  font-size: 60px;
  font-weight: bold;
  color: #f16a5f;
}
}

/*//PORTFOLIO CUSTOM//*/

.thumb-container {
    position: relative;
    overflow: hidden;
}

.thumb-container img{
    transition: .5s ease;
}

.shape-tl {
  border-radius: 50% 0% 0% 0% / 50% 0% 0% 0%  ;
}

.shape-tr {
  border-radius: 0% 50% 0% 0% / 00% 50% 0% 0%  ;
}

.shape-br {
  border-radius: 0% 0% 50% 0% / 0% 0% 50% 0%  ;
}

.shape-bl {
  border-radius: 0% 0% 0% 50% / 0% 0% 0% 50%  ;
}

.shape-t {
    border-radius: 50% 50% 0% 0% / 50% 50% 0% 0% ;
}

.shape-r {
    border-radius: 0% 50% 50% 0% / 0% 50% 50% 0% ;
}

.shape-b {
    border-radius: 0% 0% 50% 50% / 0% 0% 50% 50% ;
}

.shape-l {
    border-radius: 50% 0% 0% 50% / 50% 0% 0% 50% ;
}

.overlay {
    position: absolute;
    opacity: 0;
    transition: all .3s ease;
    background-color: gray;
}

.overlay-shape-tl {
    height: 100%;
    width:100%;
    top:0;
    left:0;
    border-radius: 50% 0% 0% 0% / 50% 0% 0% 0%;
}

.overlay-shape-tr {
    height: 100%;
    width:100%;
    top:0;
    left:0;
    border-radius: 0% 50% 0% 0% / 0% 50% 0% 0%;
}

.overlay-shape-br {
    height: 100%;
    width:100%;
    top:0;
    left:0;
    border-radius: 0% 0% 50% 0% / 0% 0% 50% 0%;
}

.overlay-shape-bl {
    height: 100%;
    width:100%;
    top:0;
    left:0;
    border-radius: 0% 0% 0% 50% / 0% 0% 0% 50%;
}

.overlay-shape-t {
    height: 100%;
    width:100%;
    top:0;
    left:0;
    border-radius: 50% 50% 0% 0% / 50% 50% 0% 0%;
}

.overlay-shape-r {
    height: 100%;
    width:100%;
    top:0;
    left:0;
    border-radius: 0% 50% 50% 0% / 0% 50% 50% 0%;
}

.overlay-shape-b {
    height: 100%;
    width:100%;
    top:0;
    left:0;
    border-radius: 0% 0% 50% 50% / 0% 0% 50% 50%;
}

.overlay-shape-l {
    height: 100%;
    width:100%;
    top:0;
    left:0;
    border-radius: 50% 0% 0% 50% / 50% 0% 0% 50%;
}

.thumb-container:hover .overlay{
    opacity: .7;
}

.thumb-container:hover .text-overlay{
     opacity: 1;
}

.thumb-container:hover img{
     transform: scale(1.1);
}

.thumb-link {
  position: absolute;
  top: 0;
  left: 0;
  /*need height-width to hold shape*/
  height: 30vw;
  width: 30vw;
}

@media (max-width: 992px) {
  .thumb-link {
      height: 45vw;
      width: 45vw;
  }
}

.text-overlay {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    font-size: 21px;
    color: whitesmoke;
}

.text-overlay h4 {
  font-size: 24px;
  font-weight: 400;
  color: whitesmoke;
}

.text-overlay h6 {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: whitesmoke;
}

/*//PROJECT SINGLE CUSTOM//*/
.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: lightgray;
}

.carousel-indicators .active {
  background-color: gray;
}

.iframe-center {
  margin: auto;
  display: block;
}

.outside-link {
  font-weight: 600;
  text-decoration: underline; 
  color: #818385;
}

@media (max-width: 992px){
  .project-info {
    margin-top: 20px;
  }
}

/*easiest way to change color of prev/next icons*/
.prev-next-dark {
    filter: invert(100%);
}

.link {
  text-decoration: underline;
}

/*//ABOUT CUSTOM//*/
.flip-image {
   -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}

.download-link {
  font-family: "Lora", sans-serif;
  color: #818385;
  font-weight: 700;
}

.download-link:hover {
  color: #f16a5f;
}

/*//FOOTER CUSTOM//*/
.text-light {
  color: #f5f5f5;
}

/*///THEMEFISHER CSS///*/

.text-sm {
  font-size: 14px;
}

.section {
  padding: 60px 0px;
}

.section-sm {
  padding: 30px 0px;
}

.btn {
  padding: 18px 38px;
  border: 2px solid transparent;
  text-transform: uppercase;
  border-radius: 0px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
  box-shadow: #999999 0px 0px 0px 0px;
}

.btn:focus {
  outline: 0px;
  border: 0px;
  box-shadow: none;
}

.btn-main {
  background: #f16a5f;
  color: #fff;
}

.btn-main:hover {
  color: #fff !important;
  background: #000;
}

.btn-black {
  background: #000;
  color: #fff;
}

.btn-black:hover {
  background: #f44336;
  color: #fff;
}

.btn-white {
  background: #fff;
  color: #000;
  border-color: #fff;
}

.btn-white:hover {
  background: transparent;
  color: #fff;
}

a {
  color: #000;
  transition: all .25s ease;
}

a:hover {
  color: #f16a5f;
  text-decoration: none;
  outline: none;
}

.bg-primary {
  background: #f44336 !important;
}

.bg-secondary {
  background: #f7f7f7 !important;
}

.bg-extra {
  background: #e8eefb !important;
}

.page-title h1 {
  position: relative;
  padding-bottom: 30px;
}

/*accent line under page title*/
.page-title h1:after {
  position: absolute;
  content: "";
  left: 50%;
  bottom: 0px;
  width: 40px;
  height: 2px;
  margin-left: -25px;
  background: #f16a5f;
}

.sub-title {
  margin-top: 60px;
}

.sub-title h2 {
  position: relative;
  padding-bottom: 30px;  
}

/*accent line under page title*/
.sub-title h2:after {
  position: absolute;
  content: "";
  left: 50%;
  bottom: 0px;
  width: 40px;
  height: 2px;
  margin-left: -25px;
  background: #f16a5f;
}



@media (max-width: 575px) {
  h2, .h2 {
    font-size: 32px;
    line-height: 43px;
  }
}

@media (max-width: 400px) {
  h2, .h2 {
    font-size: 32px;
    line-height: 43px;
  }
}

.main-nav .header-top-socials a {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  padding: 20px 6px;
}

.navbar-nav .nav-link {
  padding: 20px 15px !important;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 700;
}


@media (max-width: 575px) {
  .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .banner .cd-headline {
    font-size: 32px;
    line-height: 42px;
  }
  .btn-group, .btn-group-vertical {
    display: block;
  }
  .btn-group > .btn {
    padding: 20px;
  }
}

@media (max-width: 400px) {
  .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .banner .cd-headline {
    font-size: 32px;
    line-height: 42px;
  }
  .btn-group, .btn-group-vertical {
    display: block;
  }
  .btn-group > .btn {
    padding: 20px;
  }
}

@media (max-width: 767px) {
  .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .banner .cd-headline {
    font-size: 32px;
    line-height: 42px;
  }
  .btn-group, .btn-group-vertical {
    display: block;
  }
  .btn-group > .btn {
    padding: 20px;
  }
}

@media (max-width: 991px) {
  .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .banner .cd-headline {
    font-size: 32px;
    line-height: 42px;
  }
  .btn-group, .btn-group-vertical {
    display: block;
  }
  .btn-group > .btn {
    padding: 20px;
  }
}

.portfolio {
  padding-bottom: 100px;
}

.portfolio .btn:focus, .portfolio .btn:hover, .portfolio .btn.focus.active {
  box-shadow: none !important;
  outline: 0 !important;
}

.portfolio .btn-group .btn {
  border-radius: 0px !important;
  padding-left: 0px;
  font-weight: 700;
}

.portfolio .btn-group .btn:hover {
  color: #f16a5f;
}

.portfolio .btn-group:not(:first-child) > .btn, .portfolio .btn-group > .btn:not(:first-child) {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.portfolio .btn.active {
  color: #f16a5f;
}

.inner-box {
  position: relative;
}

/*this is the only play i need border radius*/
.inner-box .image {
  position: relative;
  overflow: hidden;
  border-radius: 10% 50% 50% 10% / 10% 50% 50% 10% ;
}

/*size being overwritten by _portfolio.scss*/
.inner-box .image img {
  position: relative;
  width: 100%;
  display: block;
  transition: all 0.3s;
}

/*fade on empty overlay as container for text*/
.inner-box .image .overlay-box {
  position: absolute;
  left: 0px;
  bottom: 0px;
  right: 0px;
  top: 0px;
  z-index: 2;
  opacity: 0;
  display: block;
  transition: all .6s ease;
  overflow: hidden;
}

/*slide on overlay*/
.inner-box .image .overlay-box:before {
  position: absolute;
  content: '';
  left: -450px;
  top: 0px;
  width: 100%;
  height: 100%;
  display: block;
  opacity: 0;
  transition: all 0.4s;
  background-color: rgba(47, 50, 56, 0.8);

}

.inner-box:hover .image img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);

}


.inner-box:hover .image .overlay-box:before {
  opacity: 1;
  left: 0px;
}


.inner-box:hover .image .overlay-box {
  opacity: 1;
}

.inner-box:hover .image .overlay-box .overlay-content h5 {
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
}

.inner-box:hover .image .overlay-box .overlay-content p {
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
}

.inner-box .image .overlay-box .overlay-inner {
  position: absolute;
  left: 0px;
  bottom: 30px;
  z-index: 1;
  padding: 10px 40px;
}

.inner-box .image .overlay-box .overlay-inner .overlay-content i {
  font-size: 28px;
}

.inner-box .image h3 {
  color: #fff;
}

.overlay-content h5 {
  text-transform: capitalize;
  background: rgba(255, 255, 255, 0.9);
  padding: 0px 8px;
  margin-bottom: 0px;
  -webkit-transform: translateX(-150px);
  transform: translateX(-150px);
  transition: all 0.3s;
}

.overlay-content p {
  font-size: 14px;
  margin-bottom: 0px;
  padding: 0px 8px;
  margin-top: 2px;
  text-transform: capitalize;
  background: rgba(255, 255, 255, 0.9);
  color: #2f3238;
  -webkit-transform: translateX(-150px);
  transform: translateX(-150px);
  transition: all 0.5s;
}

.portfolio-image {
  width: 60px;
  height: 60px;
  display: inline-block;
  text-align: center;
  background: #000;
  color: #fff;
  padding-top: 16px;
  position: absolute;
  top: 40%;
  font-size: 22px;
  margin-left: -28px;
  left: 50%;
}

.info a {
  margin-right: 10px;
}

.service-home {
  position: relative;
}

.service-item i {
  font-size: 35px;
  float: left;
  width: 65px;
  height: 120px;
}

.testimonial-content {
  text-align: center;
  padding: 25px;
  position: relative;
}

.testimonial-content i {
  font-size: 60px;
}

.testimonial-content p {
  margin-top: 30px;
  margin-bottom: 25px;
}

.about-info h3 {
  margin-top: 15px;
}

.form-control {
  border-radius: 0px;
  height: 45px;
  border-color: #e8eefb;
}

.form-control:focus {
  box-shadow: none;
  border-color: #f16a5f;
}

textarea.form-control {
  height: auto;
}

.text-black {
  color: #000;
}

.contact-title h2 {
  position: relative;
  padding-bottom: 30px;
}

.contact-title h2:after {
  position: absolute;
  content: "";
  left: 50%;
  bottom: 0px;
  width: 40px;
  height: 2px;
  margin-left: -25px;
  background: #f44336;
}

.letter-spacing {
  letter-spacing: 1px;
}

.post .image-content {
  position: relative;
}

.post .image-content img {
  width: 100%;
}

.post .author img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.post .post-content {
  margin-top: 30px;
}

.post .post-content h4 {
  margin-top: 10px;
  transition: all .35s ease;
}

.post .post-content a:hover h4 {
  color: #f44336;
}

.pagination {
  margin-top: 70px;
}

.pagination li a {
  background: #f6f6f6;
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
  padding: 9px 18px;
  color: #666666;
  transition: .3s;
}

.pagination li a:hover {
  background: #f44336;
  color: #fff;
}

.pagination li.active a {
  background: #f44336;
  color: #fff;
}

.sidebar-widget .widget {
  padding-left: 20px;
}

.sidebar-widget .widget-title {
  text-transform: capitalize;
  position: relative;
  padding-bottom: 20px;
}

.sidebar-widget .widget-title:after {
  position: absolute;
  content: "";
  left: 0px;
  bottom: 0px;
  width: 30px;
  height: 2px;
  background: #000;
}

.sidebar-widget .follow a {
  margin-right: 10px;
}

.sidebar-widget .tags a {
  text-transform: capitalize;
  font-size: 15px;
  padding: 2px 13px;
  display: inline-block;
  margin-bottom: 8px;
  background: #dedede;
}

.sidebar-widget .category ul {
  line-height: 40px;
}

.sidebar-widget .category ul li {
  font-size: 15px;
  text-transform: capitalize;
}

.post-body span {
  font-size: 13px;
  letter-spacing: 1px;
}

.single-post {
  margin-bottom: 70px;
}

.share ul li a {
  margin-right: 20px;
}

.mb-45 {
  margin-bottom: 45px;
}

.comments-text p {
  font-size: 14px;
  margin-bottom: 10px;
  line-height: 26px;
}

@media (max-width: 575px) {
  .media {
    display: block;
  }
  .media img {
    margin-bottom: 10px;
  }
}

@media (max-width: 400px) {
  .media {
    display: block;
  }
  .media img {
    margin-bottom: 10px;
  }
}

@media (max-width: 767px) {
  .media {
    display: block;
  }
  .media img {
    margin-bottom: 10px;
  }
}

.footer {
  padding: 40px 0px;
  background-color: #c4bdb3;
}

.footer-widget a {
  /*80 adds 50%opacity to hex color*/
  color: #f5f5f580;
  text-transform: capitalize;
}

.footer-widget a:hover {
  color: #f5f5f5;
}

